.page-header {
  padding-top: 0;
  background-color: @white;
}

.page-header__wrapper {
  position: relative;
  padding-bottom: 55px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin: 0 auto;

  z-index: 200;
  transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__wrapper {
    position: static;
    padding-bottom: 0;
  }
}
